footer{
    padding-block: 1rem;
    font: var(--text-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    & div{
        display: flex;
        gap: 1.5rem;
    }
}

@media (width>=1280px){
    footer{
        flex-direction: row;

        & span{
            margin-right: auto;
        }
    }
}