.primary-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}

.main-menu{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.min-foto-perfil{
    width: 40px;
    height: 40px;
}
