#services{
    display: grid;
    grid-template-areas: 
    "header header header"
    "div div div";
    justify-content: space-evenly;
    background-color: var(--gray-200);

    header{
        grid-area: header;
        text-align: center;

        span{
            font: var(--subtitle);
            color: var(--red);
            margin-block: 72px 8px;
        }

        h1{
            margin-bottom: 56px;
            color: var(--gray-600);
            font: var(--title-md);
        }
    }

    a{
        &:hover{
            border: 1px solid var(--blue);
        }
        text-decoration: none;
        width: 280px;
        border: 1px solid var(--gray-500);
        border-radius: 12px;
        padding-inline: 20px;
        margin-bottom: 120px;

        img{
            margin-block: 20px;
            width: 40px;
        }

        h2{
            font: var(--title-sm);
            color: var(--gray-600);
            margin-bottom: 8px;
        }

        p{
            font: var(--text-sm);
            color: var(--gray-500);
            margin-bottom: 20px;
        }
    }
}