a.social{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    --bg-img: "";
    background-image: var(--bg-img);
    -webkit-background-clip: initial;
    background-clip: initial;

    &[aria-label="TikTok"]{
        --bg-img: url(../assets/icons/TikTok.svg);
        
        &:hover{
            --bg-img: url(../assets/icons/TikTok-hover.svg);
        }
    }

    &[aria-label="Instagram"]{
        --bg-img: url(../assets/icons/Instagram.svg);
        
        &:hover{
            --bg-img: url(../assets/icons/Instagram-hover.svg);
        }
    }

    &[aria-label="Twitter"]{
        --bg-img: url(../assets/icons/Twitter.svg);
        
        &:hover{
            --bg-img: url(../assets/icons/Twitter-hover.svg);
        }
    }

    &[aria-label="Discord"]{
        --bg-img: url(../assets/icons/Discord.svg);
        
        &:hover{
            --bg-img: url(../assets/icons/Discord-hover.svg);
        }
    }
}